@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
  --pink:#FF046F;
  --violet:#C63BFA;
}

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
}
*::selection{
    background:var(--pink);
    color:#fff;
}
header{
	width:90%;
	height: 50px;
	background:#fff;
	position: fixed;
	top:2rem; left:50%;
	transform: translateX(-50%);
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:1rem 2rem;
	z-index: 1000;
	transition: .2s;
	}
	
	.header-active{
	top:0;
	width: 100%;
	border-radius: 0;
	box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
	}
	
	header .navbar ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	}
	
	header .navbar ul li{
	margin:0 1rem;
	}
	
	header .navbar ul li a{
	font-size: 1.3rem;
	color:var(--pink);
	transition: .2s;
	text-decoration: none;
	}
	.logo{
	  width: 200px;
	  height: 30px;
	}
	header .navbar ul li .active,
    header .navbar ul li a:hover{
		color:var(--violet);
}
	header .fa-bars{
	font-size: 3rem;
	color:var(--pink);
	cursor: pointer;
	display: none;
	transition: .2s;
	} 
.diffSection{
    width: 100%;
    text-align: center;
}
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("slideImage-1.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding-top: 250px;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
    text-decoration: none;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
    background-color: white;
	transition-duration: .5s;
}
.service-swipe .s-card p {
	color:black;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}